<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Devise Boilerplate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% unless user_signed_in? %>
        <li class="nav-item ms-2">
          <%= link_to 'Login', user_session_path %>
        </li>
        <li class="nav-item ms-2">
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
        <% else %>
        <li class="nav-item ms-2">
          <%= link_to "logout", destroy_user_session_path, method: :delete %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
