<!DOCTYPE html>
<html>

<head>
  <%= render 'layouts/head' %>
</head>

<body>
  <%= render 'layouts/navbar' %>
  <div  class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="shadow p-4">
      <%= yield %>
    </div>
  </div>
</body>

</html>
